{{if .ctx.IsSigned}}
  {{ $referenceUrl := "" }}
  {{ if .issue }}
    {{ $referenceUrl = Printf "%s%s/issues/%d#%s" AppUrl .ctx.Repository.FullName .ctx.Issue.Index .item.HashTag }}
  {{ else }}
    {{ $referenceUrl = Printf "%s%s/pulls/%d/files#%s" AppUrl .ctx.Repository.FullName .ctx.Issue.Index .item.HashTag }}
  {{ end }}

  <div
    class="block"
    data-block="context_menu"
    type="application/json"
  >
  {
    "address": "{{ $referenceUrl }}",
    "delete": {{.delete}},
    "diff": {{.diff}},
    "unitIssuesGlobalDisabled": {{.ctx.UnitIssuesGlobalDisabled}},
    "admin_permissions": {{or .ctx.Permission.IsAdmin .IsCommentPoster .ctx.HasIssuesOrPullsWritePermission}},
    "repoLink": "{{.ctx.RepoLink}}",
    "item": {
      "id": "{{.item.ID}}",
      "hashTag": "{{.item.HashTag}}",
      "posterDisplayName": "{{.item.Poster.GetDisplayName}}"
    },

    "phrases": {
      "copy_link": "{{.ctx.i18n.Tr "repo.issues.context.copy_link"}}",
      "quote_reply": "{{.ctx.i18n.Tr "repo.issues.context.quote_reply"}}",
      "reference_issue": "{{.ctx.i18n.Tr "repo.issues.context.reference_issue"}}",
      "edit": "{{.ctx.i18n.Tr "repo.issues.context.edit"}}",
      "delete": "{{.ctx.i18n.Tr "repo.issues.context.delete"}}",
      "delete_comment_confirm": "{{.ctx.i18n.Tr "repo.issues.delete_comment_confirm"}}"
    }
  }
  </div>
{{end}}
